{% extends 'base.html' %}

{% block body %}

<h2>About TravelMaps</h2>
<p>TravelMaps is a full stack web application that allows users to share travel recommendations and itineraries. A custom web interface allows users to create dynamic maps with pointers to recommended places, and add place-specific notes. Users can share a read-only version of their maps across the web via a map-specific url containing a cryptographic hash. An internal dashboard gathers data about trends across all users, such as popular travel destinations and recommended places, and displays the data on two charts and a heat map. The application is 94% tested using Python unittest.</p>
<p>This project was made at Hackbright Academy in San Francisco over four weeks in Novermber 2019.</p>

<p>Creator Tegan Broderick is a former objects conservator turned software engineer. She can be found on <a href="https://www.linkedin.com/in/teganbroderick/ ">LinkedIn</a> and <a href="https://github.com/teganbroderick ">Github</a>.
</p>

{% endblock %}