{% extends 'base.html' %}

{% block head %}
  <!-- Load chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <!-- Load google map with visualization library -->
  <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaVUPKfPPxYsYNJoWTn4nsb8R1pzE-h5Q&libraries=visualization&callback=initMap"></script>

{% endblock %}

{% block body %}
  <!-- Bootstrap div layout -->
  <div class="container-fluid">
    <div class="row" style="height: 20px">
    </div>
    <div class="row">
      <div class="col-4">
        <div id="map_details">
          <h2>Dashboard</h2>
        </div>
      </div>
      <div class="col-6">
      </div>
      <div class="col-2">
        <form action="#">
          <input type="submit" value="Export Excel Spreadsheet">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="place_chart">
          <h2 id="dashboard-header">Top 10 Places</h2>
          <p class="small-par">Top 10 places saved across all maps</p>
          <canvas id="barChart-places"></canvas>
        </div>
      </div>      
      <div class="col-5">
        <div class="place_types_chart">
          <h2 id="dashboard-header">Top 5 Place Types</h2>
          <p class="small-par">Top 5 types of places saved across all maps</p>
          <canvas id="donutChart-place-types"></canvas>
          <div id="donutLegend-place-types" class="chart-legend"></div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 30px">
    </div>
    <div class="row">
      <div class="col-3">
        <div id="user_statistics">
          <h2 id="dashboard-header">User Statistics</h2>
          <br>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row">Total Users</th>
                <td>{{ stats_dictionary['total_users'] }}</td>
              </tr>
              <tr>
                <th scope="row">Total Maps</th>
                <td>{{ stats_dictionary['total_maps'] }}</td>
              </tr>
              <tr>
                <th scope="row">Total Places Mapped</th>
                <td>{{ stats_dictionary['total_places_mapped'] }}</td>
              </tr>
              <tr>
                <th scope="row">Average Maps per User</th>
                <td>{{ stats_dictionary['avg_maps_per_user'] }}</td>
              </tr>
              <tr>
                <th scope="row">Average Places per Map</th>
                <td>{{ stats_dictionary['avg_places_mapped'] }}</td>
              </tr>              
            </tbody>
          </table>
          <br><br><br><br><br><br><br><br><br>
        </div>
      </div>
      <div class="col-9">
        <h2 id="dashboard-header">Heat Map - Places Saved Across All Maps</h2>
        <div id="map"></div>
      </div>
    </div>
    <div class="row" style="height: 30px">
    </div>
  </div>
  
  <!-- Javascript code -->
  <script>
    //Chart code
    const options = {
      responsive: true
    };

    // Make Bar of top 10 places
    let ctx_bar = $("#barChart-places").get(0).getContext("2d");

    $.get("/place_statistics.json", function (data) {
      var myBarChart = new Chart(ctx_bar, {
                                            type: 'bar',
                                            data: data,
                                            options: {
                                                      legend: { display: false },
                                                      title: {
                                                        display: false,
                                                        text: 'Popular mapped places'
                                                        },
                                                      scales: {
                                                        yAxes: [{
                                                          ticks: {
                                                            beginAtZero: true
                                                            }
                                                        }]
                                                      }
                                                  }
                                            }); 
      }); 
    
    // Make Donut Chart of top 5 place types
    let ctx_donut = $("#donutChart-place-types").get(0).getContext("2d");

    $.get("/place_type_statistics.json", function (data) {
       myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#donutLegend-place-types').html(myDonutChart.generateLegend());
    });

  //Heat map code
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 1.75, // display whole world
      center: {lat: 17, lng: 21.017532}, //center on Poland, make sure far north and south are visible
      mapTypeId: 'satellite'
    });

    //Get latitude and longitude from all places saved to db, render points on heatmap
    $.get("/get_latitude_and_longitude.json", function (data) {
      points = []
      for (place of data) {
        console.log(place.latitude)
        console.log(place.longitude)
        points.push(new google.maps.LatLng(place.latitude, place.longitude));
      }

      var heatmap = new google.maps.visualization.HeatmapLayer({
        data: points,
        map: map
      });
    });
  };
  </script>
{% endblock %}