{% extends 'base.html' %}

{% block head %}
  <!-- Load chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <!-- Load google map with visualization library -->
  <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaVUPKfPPxYsYNJoWTn4nsb8R1pzE-h5Q&libraries=visualization&callback=initMap"></script>

{% endblock %}

{% block body %}
  <!-- Bootstrap div layout -->
  <div class="container-fluid">
    <div class="row" style="height: 20px">
    </div>
    <div class="row">
      <div class="col-4">
        <div id="map_details">
          <h2>Dashboard</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="place_chart">
          <h2 id="dashboard-header">Top 10 Places</h2>
          <canvas id="barChart-places"></canvas>
        </div>
      </div>      
      <div class="col-5">
        <div class="place_types_chart">
          <h2 id="dashboard-header">Top 5 Place Types</h2>
          <canvas id="donutChart-place-types"></canvas>
          <div id="donutLegend-place-types" class="chart-legend"></div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 30px">
    </div>
    <div class="row">
      <div class="col-3">
        <h2 id="dashboard-header">User Statistics</h2>
        <h3 id="dashboard-par-header"> Total Users: {{ total_users }}</h3>
        <h3 id="dashboard-par-header"> Total Maps: {{ total_maps }}</h3>
        <h3 id="dashboard-par-header"> Total Places Mapped: {{ total_places_mapped }}</h3>
        <h3 id="dashboard-par-header"> Average Maps / User: {{ avg_maps_per_user }}</h3>
        <h3 id="dashboard-par-header"> Average Places / Map: {{ avg_places_mapped }}</h3>
        <br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="col-9">
        <h2 id="dashboard-header">Heat Map - All Places Saved to Maps</h2>
        <div id="map"></div>
      </div>
    </div>

  </div>
  <!-- Javascript code -->
  <script>
    //Chart code
    const options = {
      responsive: true
    };

    // Make Bar of top 10 places
    let ctx_bar = $("#barChart-places").get(0).getContext("2d");

    $.get("/place_statistics.json", function (data) {
      var myBarChart = new Chart(ctx_bar, {
                                            type: 'bar',
                                            data: data,
                                            options: {
                                                      legend: { display: false },
                                                      title: {
                                                        display: false,
                                                        text: 'Popular mapped places'
                                                        },
                                                      scales: {
                                                        yAxes: [{
                                                          ticks: {
                                                            beginAtZero: true
                                                            }
                                                        }]
                                                      }
                                                  }
                                            }); 
      }); 
    
    // Make Donut Chart of top 5 place types
    let ctx_donut = $("#donutChart-place-types").get(0).getContext("2d");

    $.get("/place_type_statistics.json", function (data) {
       myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#donutLegend-place-types').html(myDonutChart.generateLegend());
    });

  //Map code
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 1.75,
      center: {lat: 17, lng: 21.017532},
      mapTypeId: 'roadmap'
    });

    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(),
      map: map
    });
  }

  function getPoints() {
    return [
      new google.maps.LatLng(37.782551, -122.445368),
      new google.maps.LatLng(37.782745, -122.444586),
      new google.maps.LatLng(37.782842, -122.443688),
      new google.maps.LatLng(37.782919, -122.442815),
      new google.maps.LatLng(37.782992, -122.442112),
      new google.maps.LatLng(37.783100, -122.441461),
      new google.maps.LatLng(37.783206, -122.440829),
      new google.maps.LatLng(37.783273, -122.440324)]
  }

  </script>
{% endblock %}