{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>
  <script src="/static/js/maps.js"></script>
    <!-- load google places library before initializing map -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initAutocomplete">
  </script>
  <script> window.map_id = {{ map.map_id }} </script>
  <script type="text/javascript"></script>

{% endblock %}

{% block body %}
  <div class="container-fluid">
  <div class="row" style="height: 20px">
  </div>
  <div class="row">
    <div class="col-4">
      <div id="map_details">
        <h2>Map Page</h2>
        <h3>Map Name: {{ map.map_name }} </h3>
        <h3>Map Description: {{ map.map_description }} </h3><br>
        <!-- if there are places in the map, print them -->
        <h3>Places on this map:</h3>
        {%for place in places %}
          <ul>
            <li>Place Name: {{ place.google_place_name }}</li>
            <li>Latitude: {{ place.latitude }}</li>
            <li>Longitude: {{ place.longitude }}</li>
          </ul>
        {% endfor %}
        <!-- if there are no places in the map, print a message to get started... -->
      </div>
    </div>
    
    <div class="col-8">
      <!-- Google maps code -->
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map"></div>
      <!-- end google maps code -->
    </div>
  </div>
  <div class="row" style="height: 30px">
    <div class="col-2">
      <div id="logout">
        <form action="/logout">
            <input type="submit" value="Log Out">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

